

body{
	background: yellow;
	padding: 0;
	margin:0;
	font-family: sans-serif;
	color: #666;
}

header{
	/*background:	black;*/
	width: 100%;
	padding: 40px 0;
	color: white;
	text-align: center;
}

a{
	text-decoration: none;
	color: inherit;
}

nav ul{
	background-color: black;
	overflow: hidden; /* KEEPS FROM SPLLING OUT OF BOX*/
	color: white;
	padding: 0;
	text-align: center;
	margin:0;
	-webkit-transition: max-height 0.4s;
	-mss-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li:hover{
	background-color: orange;
}

nav ul li{
	display: inline-block;
	padding: 0px;
}

section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	width: 75%; 
	margin: 0 auto;
}

.handle{
	width: 100%;
	background-color: #a3a3a3;
	text-align: left;
	box-sizing: norder-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none;
}

@media screen and (max-width: 580px){

	nav ul{
		max-height: 0;
	}

	.showing{
		max-height: 20em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;

	}

	.handle{
		display: inline-block;
	}
}

@media screen and (max-width: 320px){ /*--> SITE SHRINK
										NO SMALLER THAN 320PX*/
body{
	width: 320px;
}
